<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Build on top of Pure.">
    <title>Arukas Share Shadowsocks</title>
    <link rel="stylesheet" href="https://fonts.lug.ustc.edu.cn/css?family=Raleway:200">
    <link href="//cdn.bootcss.com/pure/0.6.0/pure-min.css" rel="stylesheet" />
	<link href="css.css" rel="stylesheet" />
	
</head>
<body>
    <div id="main">
        <div class="header">
            <h2>Arukas Share Shadowsocks</h2>
        </div>
        <div class="content">
            <p><small>
				调用Arukas API KEY获取IP以及端口等信息。&nbsp;
                <br>
                注意以下IP和端口不定期变化！请注意更新。
            </p>
            <div class="pure-form pure-form-stacked">
                <% for(var i=0;i < data.length; i++) { %>
                <fieldset>
                    <legend><b> 账号信息 ↓↓: <a href="<%=data[i].appid%>">点击查看API接口</a></b></legend>
                    <div class="pure-g">
                        <div class="pure-u-1-1">
                        <%delete data[i].appid%>
						<small><code><%=JSON.stringify(data[i])%></code></small>
                        </div>
					</div>
					<br>
					<div class="pure-g">
						<div class="pure-u-1-1">
                        <% if(data[i].protocol && data[i].obfs){%>
                        <div class="ss_qr" val='<%=data[i].obfs+":" + data[i].protocol+":" + data[i].method + ":" + data[i].password + "@" + data[i].server + ":" + data[i].server_port%>' style="width:350px; height:350px;"></div>
                        <%}else{%>
                        <div class="ss_qr" val='<%=data[i].method + ":" + data[i].password + "@" + data[i].server + ":" + data[i].server_port%>' style="width:350px; height:350px;"></div>
                        <%}%>
                        </div>
                    </div>                    
				</fieldset>
                <br>
                <br>
                <br>
                <% } %>
			</div>
                 
        </div>
        <div class="footer">
            <div class="legal pure-g">
                <div class="pure-u-1 u-sm-1-2">
                    <p class="legal-license">
                        技术支持: <a href="http://51.ruyo.net">如有乐享</a>
						开源地址: <a href="https://github.com/malaohu/ssr-with-net-speeder/tree/arukas">Github</a>
                        <br>
						<small>
                            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261049372'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261049372%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script></small>
                    </p>
                </div>
				<div class="pure-u-1 u-sm-1-2">
                    <p class="legal-copyright">
					
                        This site is built with <3 using Pure v0.6.0
						<br>
                        © 2016 RUYO.net! Inc. All rights reserved.
                    </p>
                </div>
            </div>

        </div>
    </div>
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="//cdn.bootcss.com/Base64/1.0.0/base64.min.js"></script>
	<script>
	$(function(){
		$('.ss_qr').each(function(i,obj){
			$(obj).empty();
			$(obj).qrcode({ width: 350, height: 350, text: "ss://" + btoa($(obj).attr('val'))});
		});
	});
	</script>

</body>
</html>
